<div class="w-100 pa1">
	<div class="flex align-center">
		<mat-form-field class="mr1">
			<div class="input-container">
				<mat-label>Name</mat-label>
				<input matInput type="text" [(ngModel)]="name">
			</div>
		</mat-form-field>
		<mat-form-field>
			<div class="input-container">
				<mat-label>Email</mat-label>
				<input matInput type="email" [(ngModel)]="email">
			</div>
		</mat-form-field>
	</div>

	<div class="flex align-center">
		<div class="input-container">
			<img src="{{profilePic ?? '../../assets/user.png'}}" width="100" height="100" (click)="openFileDialog()" />
			<mat-label></mat-label><br />
			<input type="file" id="profile-pic" (change)="selectFile($event)" style="visibility: hidden;">
		</div>

		<div class="input-container">
			<button mat-raised-button color="primary" (click)="upload()" [disabled]="!selectedFile">
				Upload
			</button>
		</div>
	</div>

	<div mat-dialog-actions class="flex justify-between">
		<button mat-raised-button mat-dialog-close color="primary" (click)="addData()">
			{{ isEdit ? 'Update' : 'Add' }}
		</button>
		<button mat-raised-button mat-dialog-close style="margin-right: 40px;">Close</button>
	  </div>
</div>
