.w-100 {
	width: 100%;
}

.pa1 {
	padding: 20px;
}

.mr1 {
	margin-right: 20px;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}
